@font-face {
    font-family: 'Heebo';
    src: url(./Heebo/Heebo-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Plex Sans';
    src: url(./IBM_Plex_Sans_Thai_Looped/IBMPlexSansThaiLooped-Light.ttf);
}
@font-face { 
    font-family: 'Lato';
    src: url(./Lato/Lato-Light.ttf)
}
@font-face {
    font-family: 'Roboto Monospace';
    src: url(./Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Gothic Antique';
    src: url(./Zen_Kaku_Gothic_Antique/ZenKakuGothicAntique-Light.ttf);
}